body{
    height: 100vh;
    background-color: #1b1464;
    font-family:'Overpass Mono';
    font-size: 30px;
}

.container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.parent{
    padding: 20px;
    border-radius: 30px;
    background-color: white;
    height: auto;
    width: auto;

    display: flex;
    align-items: center;
    justify-content: center;
}
.child{
    text-align: center;
}
.txtBox{
    border-radius: 6px;
    text-align: center;
    height: 30px;
    font-family:'Overpass Mono';
    font-size: 20px;
}

button{
    border-style: none;
    font-size: 25px;
    border-radius: 10px;
    width: 50px;
    margin-top: 15px;
    transition: 0.1s;
    color: white;
    background-color: #ec008c;
}#add{
    background-color: #28a745;
}#sub{
    background-color: #dc3545;
}#mul{
    background-color: #ffc107 ;
}#div{
    background-color: #54B4D3;
}
#add:hover{
    transform: scale(1.2);
}#sub:hover{
    transform: scale(1.2);
}#mul:hover{
    transform: scale(1.2);
}#div:hover{
    transform: scale(1.2);
}

p{
    margin-bottom: 5px;
    font-size: 25px;
}

#btn1{
    width: 200px;
    transition: 0.1s;
    background-color:#ec008c;
    color: white;
}#btn1:hover{
    transform: scale(1.2);
}

#red{
    width: 70px;
    font-size: 10px;
    background-color: #dc3545;
    padding: 13px;
    color: white;
}
#green{
    width: 70px;
    font-size: 10px;
    background-color: #28a745;
    padding: 13px;
    color: white;
}
#blue{
    width: 70px;
    font-size: 10px;
    background-color: #54B4D3;
    padding: 13px;
    color: white;
}
#pop{
    width: 70px;
    font-size: 10px;
    background-color: #ffc107 ;
    padding: 13px;
    color: white;
}

#red:hover{
    transform: scale(1.1);
}
#green:hover{
    transform: scale(1.1);
}
#blue:hover{
    transform: scale(1.1);
}
#pop:hover{
    transform: scale(1.1);
}

#process{
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
    font-size: 20px;
    background-color: #ec008c;
    color: white;
    transition: 0.1s;
}#process:hover{
    transform: scale(1.1);
}

#datenTime{
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    transition: 0.1s;
    background-color:#ec008c;
    color: white;
}#datenTime:hover{
    background-color: #be1079;
}

.container2 {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}


.block {
    width: 50px;
    height: 50px;
    margin: 5px;
    border-radius: 5px;
}

.result {
    margin-top: 20px;
    font-size: 18px;
}

#spin{
    width: 100%;
}#spin:hover{
    transform: scale(1.1);
}

#btnGenerate{
    width: 100%;
}#par{
    margin-bottom: 20px;
    margin-top: 5px;
}

#result3{
    font-size: 19px;
}

#result2{
    font-size: 10px;
}

#input{
    border-radius: 10px;
    width: 250px;
    padding: 5px;
    text-align: center;
}

#btn2{
    width: 200px;
    transition: 0.1s;
    background-color:#ec008c;
    color: white;
    width: 260px;
}#btn2:hover{
    background-color: #be1079;
}

#btn3{
    width: 100%;
    font-size: 20px;
}#btn3:hover{
    background-color: #be1079;
}